<article class="w-full flex flex-col">
  <header class="w-full flex justify-center">
    <h1 class="text-[#AB966F] text-[30px] font-bold">Generales</h1>
  </header>
  <ul class="w-full flex flex-col text-white gap-[20px]">
    <li>
      <h2 id="darkSouls" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference
      firstq:text-[20px] secondq:text-[18px]">Dark Souls</h2>
      <p class="firstq:text-[15px] secondq:text-[14px]">Saga de juegos de rol de acción creada por Hidetaka Miyazaki de FromSoftware y publicada por Bandai Namco Entertainment. Cuenta con tres entregas,
        la primera en 2011, la segunda en 2014 y la última en 2016. Dark Souls ha recibido aclamación crítica, con el primer título a menudo citado como uno
        de los mejores vieojuegos de todos los tiempos, y la serie en su conjunto ha sido tanto elogiada como criticada por su alto nivel de dificultad.
      </p>
    </li>
    <li>
      <h2 id="demonSouls" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference
      firstq:text-[20px] secondq:text-[18px]">Demon's Souls</h2>
      <p class="firstq:text-[15px] secondq:text-[14px]">Videojuego de rol de acción en tercera persona desarrollado por la FromSoftware exclusivamente para la PlayStation 3 bajo la supervisión de
        Japan Studio. Fue pilar fundamental para los soulslike, aunque en un principio tuvo pésimas ventas en Japón y Sony decidió no publicar el título fuera del país.
        La comunidad que le gustaba este juego fue recomendando por el boca a boca y al final la empresa consigio 100.000 ventas en el país, provocando que Sony publicara
        el título por el resto del mundo. Fue tan bien recibido por el mundo occidental que gano varios premios y hasta el desarrollo del remake en 2020 para la PlayStation 5.
      </p>
    </li>
    <li>
      <h2 id="soulslike" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference
      firstq:text-[20px] secondq:text-[18px]">Soulslike</h2>
      <p class="firstq:text-[15px] secondq:text-[14px]">Subgenero de los videojuegos de rol de acción y aventura caracterizado por altos niveles de dificultad y una trabajada narrativa de mundo (usualmente en una ambientación
        de fantasía oscura). El término soulslike ha sido adoptado por numerosos periodistas y desarrolladores, aunque también ha recibido críticas respecto a si de verdad
        se le puede catalogar como género o si no es más que una colección de mecánicas compartidas.
      </p>
    </li>
    <li>
      <h2 id="hogeras" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference
      firstq:text-[20px] secondq:text-[18px]">Hogeras</h2>
      <p class="firstq:text-[15px] secondq:text-[14px]">Es un punto de aparición en donde el jugador puede reestablecer su vida y mana, curas o viales, subir de nive
        Fogata clásica de Dark souls que sirve como punto de aparición o punto de control. Se puede utilizar para subir de nivel, reestablecer vida, mana, curas o viales, asignar
        hechizos y como punto de teletransporte hacia otra hogera.
      </p>
    </li>
    <li>
      <h2 id="jefesLegendarios" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference
      firstq:text-[20px] secondq:text-[18px]">Jefes Legendarios</h2>
      <p class="firstq:text-[15px] secondq:text-[14px]">En Elden Ring, los jefes legendarios son considerados como jefes importantes que bloquean el progreso o protegen elementos y áreas importantes y poderosas.
        Algunos de ellos no son obligatorios, pero si pueden ser esenciales para el progreso del juego.
      </p>
    </li>
  </ul>
</article>