---
import General from "./General.astro"
import Stats from './Stats.astro'
import Resistances from './Resistances.astro'
---

<section class="w-full h-fit bg-[#AB966F] bg-opacity-20 border-y-[#AB966F] border-y-[1px] p-[20px]">
  <General />
  <Stats />
  <Resistances />
</section>