---
import General from "./General.astro"
---

<section class="w-full bg-[#AB966F] bg-opacity-20 border-y-[#AB966F] border-y-[1px] p-[20px]">
  <header class="w-full flex flex-col items-center mb-[20px]">
    <h1 class="text-[#AB966F] font-bold text-[30px]">Glosario</h1>
    <h2 class="text-white text-[22px]">En esta sección se encuentran varias descripciones de conceptos tanto generales como específicos</h2>
  </header>
  <General />
</section>