<article class="w-full flex flex-col text-white items-center mt-[40px]">
  <header>
    <h1 id="resistencias" class="text-[30px] text-[#AB966F] font-bold text-center glossary-reference
    transition-all duration-1000 ease-out">Resistencias a Efectos de Estado</h1>
    <p>
      Indican la cantidad acumulada de ciertos estados. Si una resistencia es de 100, se debe acumular 100 puntos para activar su estado.
      Estos disminuyen con el paso del tiempo y aumentan su nivel de acumulación cada vez producido. Los valores luego de "/" indican el aumento de resistencias
      luego de cada proceso sucesivo.
    </p>
  </header>
  <ul class="w-full flex flex-col gap-[20px] mt-[20px]">
    <li>
      <h2 id="veneno" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference">Veneno</h2>
      <p>
        Efecto de estado que inflinge daño lentamente al objetivo durante un largo período de tiempo al ser acumulado. Existen dos tipos de venenos: veneno normal y
        veneno mortal. En términos generales, este último hará un daño por segundo concentrado y ligeramente mayor pero por una duración más corta.
      </p>
    </li>
      <h2 id="podredumbreEscarlata" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference">Podredumbre Escarlata</h2>
      <p>
        Efecto de estado similar al veneno, inflige daño a un ritmo más rápido pero con menor duración. Según la cantidad de inmunidad que se tenga, mayor acumulación
        se necesitaría para causar este efecto en los jugadores. 
      </p>
    </li>
    <li>
      <h2 id="hemorragia" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference">Hemorragia</h2>
      <p>
        Efecto de estado que se acumula mediante la aplicación repetida del efecto, cuales medios pueden ser armas, habilidades y hechizos. Una vez llenado el medidor, el efecto
        se activa y el objetivo sufre un daño equivalente a un porcentaje de su vida máxima (100 + 15% vida máxima, o 200 + 15% vida máxima).
      </p>
    </li>
    <li>
      <h2 id="congelacion" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference">Congelación</h2>
      <p>
        Efecto de estado que se acumula mediante la aplicación repetida del mismo, también se puede aplicar mediante armas, habilidades, y hechizos. Una vez llenado el medidor,
        el efecto se activa, lo que causa daño y durante 30 segundos, aumenta el daño recibido en un 20%.
      </p>
    </li>
    <li>
      <h2 id="sueño" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference">Sueño</h2>
      <p>
        Estado de efecto que se aplica mediante armas, habilidades, y consumibles. Una vez llenado el medidor de sueño, el efecto se activa y el objetivo se duerme, haciéndolo
        vulnerable a un ataque crítico.
      </p>
    </li>
    <li>
      <h2 id="locura" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference">Locura</h2>
      <p>
        Estado de efecto que provoca la perdida de puntos de enfoque, impidiendo que pueda lanzar hechizos. El objetivo también sufre daños a la salud y se puede provocar con armas,
        habilidades y hechizos.
      </p>
    </li>
    <li>
      <h2 id="plagaMuerte" class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px]
      p-[5px] font-bold text-[22px] transition-all duration-1000 ease-out glossary-reference">Plaga de Muerte</h2>
      <p>
        Estado de efecto que provoca una muerte instantanea al acumularse en su totalidad. Parece que este estado no afecta a los jefes principales.
      </p>
    </li>
  </ul>
</article>