<article class="w-full flex flex-col text-white items-center mt-[40px]">
  <header>
    <h2 class="text-[30px] text-[#AB966F] font-bold">Estadísticas</h>
  </header>
  <ul class="w-full flex flex-col gap-[20px]">
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Ataque Potenciado</h2>
      <p>
        Es un ataque especial que se puede realizar al hacer un parry o romper una postura enemiga causando un ataque crítico.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Ataque Estándar</h2>
      <p>
        Es un tipo de daño que representa la categoria de daño físico. Realmente es una categoría amplia y actúa como un todo para el daño inflingido fuera de las siguientes
        tres subcategorías de daño: Cortante, Contundente y Perforante. Para cualquier otro ataque físico que no entre en estas tres subcategorías, el daño se calculará
        como estándar utilizando la estadística de daño físico.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Ataque Cortante</h2>
      <p>
        Es un tipo de daño físico que esta asociado a armas afiladas como espadas curvas, dagas y katanas. El daño cortante dentro es efectivo contra enemigos desarmados o
        armaduras ligeras, así como contra criaturas carnosas.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Ataque Contundente</h2>
      <p>
        Es un tipo de daño físico que a menudo se asocia con martillos y mazas. El daño de golpe es a menudo (no siempre) efectivo contra enemigos fuertemente armados,
        asi como contra criaturas hechas de roca o que tienen una composición resistente o similar.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Ataque Perforante</h2>
      <p>
        Es un tipo de daño físico relacionado con armas de empuje como lanzas o Astiles. Es principalmente efectivo contra criaturas escamosas como dragones y enemigos con armadura.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Daño Mágico</h2>
      <p>
        Es un tipo de daño elemental que suele ser efectivo contra la mayoría de los enemigos con alta resistencia física o fuertemente blindados. La mayoría de armas de daño físico
        se les puede imbuir para otorgarle este tipo de daño e inclusive se pueden encontrar armas que lo inflingen de forma innata. La mayoría de las hechicerías ofensivas y ciertos
        encantamientos ofensivos causan daño mágico.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Daño de Fuego</h2>
      <p>
        Es un tipo de daño elemental, el cual es efectivo contra enemigos desarmados, criaturas carnosas y muertos vivientes. Muchos de los hechizos que pertenecen a la categoría de
        encantamientos son buenas fuentes de daño por fuego y la mayoría de los enemigos que usen este elemento (no siempre) serán muy resistentes a él.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Daño de Rayo</h2>
      <p>
        Es un tipo de daño elemental fuerte contra enemigos fuertemente armados, dragones y otras criaturas dracónicas o serpentinas. La mayoría de los enemigos que usan este daño elemental
        (no siempre se cumple) tendrán una alta resistencia o inmunidad al daño de rayo. La gran mayoría de armas se les puede imbuir de este daño e inclusive se los pueden encontrar con
        el daño innato.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Daño Santo</h2>
      <p>
        Es un tipo de daño elemental eficaz contra criaturas no muertas y "enemigos vivos impíos" e ineficaz contra portadores de fragmentos y criaturas consideradas sagradas. La mayoría
        de las armas se las pueden inmbuir con este daño o encontrar los mismo con el daño de forma innata. También ciertos encantamientos ofensivos causan daño sagrado.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Postura</h2>
      <p>
        Es una estadistica oculta solamente en enemigos, indica que tanto el enemigo resiste bajo ataques del jugador. Si recibe muchos golpes, se rompera su "postura" y se podra hacer un ataque potenciado.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Parryable</h2>
      <p>
        Esta relacinado a "parry", mecanica que consiste en bloquear un golpe enemigo justo antes de ser golpeado. Si es efectivo, se podra hacer un ataque potenciado.
      </p>
    </li>
    <li>
      <h2 class="text-[#AB966F] border-b-[#AB966F] border-b-[1px] w-fit mb-[5px] font-bold text-[22px]">Negación de Daño</h2>
      <p>
        Contiene numeros que representan porcentajes que el jefe bloquea según los tipos de ataques del jugador. Por ejemplo, si la negación es de 60, 40% de ese daño se realizará y el 60% será negado.
        Valores negativos implican mayor daño y 0 continúa prácticamente como está.
      </p>
    </li>
  </ul>
</article>