---
import Layout from '../layouts/Layout.astro'
import GlossaryMain from '../components/glossary/Glossary.astro'
---

<Layout title="Elden Ring API - Glosario" >
  <main id="index-main" class="w-full h-fit p-[100px] flex flex-col gap-[40px] items-center
  thirdq:p-[50px] thirdq:pt-[100px]">
    <GlossaryMain />
  </main>
</Layout>