---
import Layout from '../layouts/Layout.astro'
import FirstSection from '../components/index/FirstSection.astro'
import SecondSecton from '../components/index/SecondSection.astro'
import ThirdSection from '../components/index/ThirdSection.astro'
import FourthSection from '../components/index/FourthSection.astro'
---

<Layout title="Elden Ring API - Inicio">
  <main id="index-main" class="w-full h-[4300px] p-[100px] flex flex-col gap-[40px] items-center">
    <FirstSection />
    <SecondSecton />
    <ThirdSection />
    <FourthSection />
  </main>
</Layout>