---
import Layout from '../layouts/Layout.astro'
import AboutSection from '../components/index/AboutSection.astro'
import IntroSection from '../components/index/IntroSection.astro'
import EndpointSection from '../components/index/EndpointSection.astro'
import DemoFetchSection from '../components/index/DemoFetchSection.astro'
---

<Layout title={"Elden Ring API - Inicio"}>
  <main id="index-main" class="w-full h-fit p-[100px] flex flex-col gap-[40px] items-center
  thirdq:p-[50px] thirdq:pt-[100px]">
    <IntroSection />
    <EndpointSection />
    <DemoFetchSection />
    <AboutSection />
  </main>
</Layout>