---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Elden Ring API - Prueba">
  <main id="mock-main" class="w-full h-[7500px] p-[100px] flex flex-col gap-[40px] items-center">
    <ul id="list-bosses" class="w-full h-[7500px] flex flex-col gap-[40px] items-center">
    </ul>
  </main>
</Layout>

<script>

  const listBosses = document.getElementById('list-bosses')

  fetch('http://localhost:1234/bosses')
    .then(res => res.json())
    .then(data => {
      const bosses = data.bosses
      bosses.forEach(boss => {
        const li = document.createElement('li')

        const header = document.createElement('header')
        const subHeader = document.createElement('div')
        const name = document.createElement('h1')
        const tier = document.createElement('p')
        const difficulty = document.createElement('p')
        const svgRunes = document.createElement('img')
        const dropRunes = document.createElement('p')

        const img = document.createElement('img')

        li.className = 'boss-card'

        header.className = 'title-boss'

        subHeader.className = 'subtitle-boss'

        name.textContent = boss.name
        name.className = 'name-boss'

        tier.textContent = "Tier: " + boss.tier
        tier.className = 'tier-boss'

        difficulty.textContent = "Dificultad: " + boss.difficulty + '/10'
        difficulty.className = 'difficulty-boss'
        
        dropRunes.textContent = "Runas: " + boss.dropRunes
        dropRunes.className = 'runes-boss'


        svgRunes.src = 'runes.webp'
        svgRunes.className = 'svg-runes'

        img.src = boss.image
        img.className = 'image-boss'

        listBosses.appendChild(li)
        li.appendChild(header)
        header.appendChild(name)
        header.appendChild(subHeader)
        subHeader.appendChild(tier)
        subHeader.appendChild(difficulty)
        subHeader.appendChild(dropRunes)
        dropRunes.appendChild(svgRunes)
        li.appendChild(img)
      })
    })
</script>

<style is:global>
  .boss-card {
    width: 100%;
    max-height: 400px;
    min-height: 400px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #AB966F44;
  }

  .title-boss, .subtitle-boss {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
  }

  .name-boss {
    width: fit-content;
    color: #AB966F;
    font-size: 24px;
    font-weight: bold;
  }

  .subtitle-boss, .name-boss {
    border-bottom: 1px solid #AB966F;
  }

  .tier-boss, .difficulty-boss, .runes-boss {
    color: #AB966F;
    font-weight: bold;
  }

  .runes-boss {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .svg-runes {
    width: 18px;
    height: 18px;
  }
  .image-boss {
    max-width: 600px;
    min-width: 600px;
    height: 380px;
  }

  @media (max-width: 1850px) {
    .title-boss {
      flex-direction: column;
      align-items: start;
    }
  }

  @media (max-width: 1480px) {
    .image-boss {
      max-width: 500px;
      min-width: 500px;
      height: 316px;
    }
  }
</style>