---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Elden Ring API - Prueba">
  <main id="mock-main" class="w-full h-[4300px] p-[100px] flex flex-col gap-[40px] items-center">

  </main>
</Layout>