---

---

<nav id="navbar" class="w-[300px] translate-x-[-300px] h-full fixed left-0 bg-[#AB966F] bg-opacity-[.95] z-[1] transition-all duration-500 ease-out">
  <article class="w-full h-full pt-[100px] flex flex-col">
    <a href="" class="text-[#e6d7bc] pl-[10px] text-[20px] hover:underline">Glosario</a>
    <details class="pl-[20px] text-white" open>
      <summary class="cursor-pointer text-[#e6d7bc] hover:underline">Generales</summary>
      <div class="pl-[10px] flex flex-col">
        <a class="hover:underline" href="">Dark Souls</a>
        <a class="hover:underline" href="">Demon's Souls</a>
        <a class="hover:underline" href="">Soulslike</a>
        <a class="hover:underline" href="">Hogeras</a>
        <a class="hover:underline" href="">Jefes Legendarios</a>
      </div>
    </details>

    <details class="pl-[20px] text-white" open>
      <summary class="cursor-pointer text-[#e6d7bc] hover:underline">Estadisticas</summary>
      <div class="pl-[10px] flex flex-col">
        <a class="hover:underline" href="">Ataque Potenciado</a>
        <a class="hover:underline" href="">Ataque Estándar</a>
        <a class="hover:underline" href="">Ataque Cortante</a>
        <a class="hover:underline" href="">Ataque Contundente</a>
        <a class="hover:underline" href="">Ataque Perforante</a>
        <a class="hover:underline" href="">Daño Mágico</a>
        <a class="hover:underline" href="">Daño de Fuego</a>
        <a class="hover:underline" href="">Daño de Rayo</a>
        <a class="hover:underline" href="">Daño Santo</a>
        <a class="hover:underline" href="">Postura</a>
        <a class="hover:underline" href="">Parryable</a>
        <a class="hover:underline" href="">Negación de Daño</a>
        <details>
          <summary class="cursor-pointer text-[#e6d7bc] hover:underline">Resistencias a Efectos de Estado</summary>
          <div class="flex flex-col pl-[10px]">
            <a class="hover:underline" href="">Veneno</a>
            <a class="hover:underline" href="">Podredumbre Escarlata</a>
            <a class="hover:underline" href="">Hemorragia</a>
            <a class="hover:underline" href="">Congelación</a>
            <a class="hover:underline" href="">Sueño</a>
            <a class="hover:underline" href="">Locura</a>
            <a class="hover:underline" href="">Plaga de Muerte</a>
          </div>
        </details>
      </div>
    </details>
  </article>
</nav>