---

---

<nav id="navbar" class="w-[300px] translate-x-[-300px] h-full fixed left-0 bg-[#AB966F] bg-opacity-[.95] z-[1]">
  <article class="w-full h-full pt-[100px] flex flex-col">
    <a class="text-[#e6d7bc] pl-[10px] text-[20px]">Glosario</a>
    <details class="pl-[20px]" open>
      <summary class="cursor-pointer">Generales</summary>
      <div class="pl-[10px] flex flex-col">
        <a href="">Dark Souls</a>
        <a href="">Demon's Souls</a>
        <a href="">Soulslike</a>
        <a href="">Hogeras</a>
        <a href="">Jefes Legendarios</a>
      </div>
    </details>

    <details class="pl-[20px]" open>
      <summary class="cursor-pointer">Estadisticas</summary>
      <div class="pl-[10px] flex flex-col">
        <a href="">Ataque Potenciado</a>
        <a href="">Ataque Estándar</a>
        <a href="">Ataque Cortante</a>
        <a href="">Ataque Contundente</a>
        <a href="">Ataque Perforante</a>
        <a href="">Daño Mágico</a>
        <a href="">Daño de Fuego</a>
        <a href="">Daño de Rayo</a>
        <a href="">Daño Santo</a>
        <a href="">Postura</a>
        <a href="">Parryable</a>
        <a href="">Negación de Daño</a>
        <details>
          <summary class="cursor-pointer">Resistencias a Efectos de Estado</summary>
          <div class="flex flex-col pl-[10px]">
            <a href="">Veneno</a>
            <a href="">Podredumbre Escarlata</a>
            <a href="">Hemorragia</a>
            <a href="">Congelación</a>
            <a href="">Sueño</a>
            <a href="">Locura</a>
            <a href="">Plaga de Muerte</a>
          </div>
        </details>
      </div>
    </details>
  </article>
</nav>