---
import ButtonNav from './ButtonNav.astro'
---

<header class="w-full h-[80px] fixed top-0 bg-black z-[2] flex items-center">
  <ul class="w-full h-[40px] flex items-center pr-[300px]">
    <li class="p-[8px] w-[300px] h-full flex justify-center">
      <ButtonNav>
        <span id="span-button" class="translate-x-[-20px] text-[#AB966F] transition-all duration-500 ease-out">Explorar</sp>
      </ButtonNav>
    </li>
    <li class="flex flex-grow justify-center items-center gap-[80px]">
      <a class="bg-[#AB966F] bg-opacity-20 rounded-md text-[#AB966F] p-[6px] cursor-pointer hover:underline">Inicio</a>
      <a class="bg-[#AB966F] bg-opacity-20 rounded-md text-[#AB966F] p-[6px] cursor-pointer hover:underline">Endpoint y Datos</a>
      <a class="bg-[#AB966F] bg-opacity-20 rounded-md text-[#AB966F] p-[6px] cursor-pointer hover:underline">Prueba de un fetch</a>
    </li>
  </ul>
</header>