---

---

<div class="w-[250px] bg-black bg-opacity-20 flex flex-col rounded-md p-[10px]
firstq:text-[15px] secondq:text-[14px]
fifthq:text-[12px] mobile:text-[10px]">
  <p>{`...},`}</p>
  <p class="ml-[10px]">{`{`}</p>
  <p class="ml-[20px]"><span class="font-bold">"id":</span> number,</p>
  <p class="ml-[20px]"><span class="font-bold">"tier":</span> string,</p>
  <p class="ml-[20px]"><span class="font-bold">"name":</span> string,</p>
  <p class="ml-[20px]"><span class="font-bold">"image":</span> string,</p>
  <p class="ml-[20px]"><span class="font-bold">"difficulty":</span> number,</p>
  <p class="ml-[20px]"><span class="font-bold">"dropRunes":</span> number,</p>
  <p class="ml-[10px]">{`},`}</p>
  <p class="ml-[10px]">{`{...`}</p>
</div>