<section class="w-full h-[200px] bg-[#AB966F] bg-opacity-20 border-b-[1px] border-t-[1px] border-[#91805E] flex justify-center items-center relative
transition-all duration-200 ease-in hover:bg-opacity-40">
  <a class="text-[40px] text-[#AB966F] font-bold before:absolute before:inset-0" href="/mock">Demostración de un fetching</a>
</section>