<div>
  <h2 class="font-bold text-[#AB966F] text-[20px] mb-[5px] border-b-[1px] border-[#AB966F] text-center">Tier A</h2>
  <div id="example-card2" class="w-[600px] bg-black flex bg-opacity-20 rounded-md p-[10px] gap-[10px]
  firstq:text-[15px] secondq:text-[14px] fifthq:text-[12px] fourthq:w-full
  mobile:w-full mobile:text-[10px] mobile:gap-0	mobile:p-0">
    <div class="flex flex-col">
      <p>{`{`}</p>
      <p class="ml-[10px]"><span class="font-bold text-[#AB966F]">"id":</span> 1,</p>
      <p class="ml-[10px]"><span class="font-bold text-[#AB966F]">"tier":</span> "A",</p>
      <p class="ml-[10px]"><span class="font-bold text-[#AB966F]">"name":</span> "Rennala, Reina De La Luna LLena",</p>
      <p class="ml-[10px]"><span class="font-bold text-[#AB966F]">"image":</span> "https://cdn.mos.cms.fut...",</p>
      <p class="ml-[10px]"><span class="font-bold text-[#AB966F]">"difficulty":</span> 2,</p>
      <p class="ml-[10px]"><span class="font-bold text-[#AB966F]">"dropRunes":</span> 40000,</p>
  
      <p class="ml-[10px]"><span class="font-bold text-[#AB966F]">"phases":</span> [</p>
      <p class="ml-[20px]">{`{`}</p>
      <p class="ml-[30px]"><span class="font-bold text-[#AB966F]">"phase":</span> 1,</p>
      <p class="ml-[30px]"><span class="font-bold text-[#AB966F]">"stats":</span> {`{`}</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"health":</span> 3493,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"defense":</span> 109,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"stance":</span> 0,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"parryable":</span> false,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"damage":</span> [</p>
      <p class="ml-[50px]">"Estándar",</p>
      <p class="ml-[50px]">"Mágico",</p>
      <p class="ml-[50px]">"Fuego"</p>
      <p class="ml-[40px]">],</p>
  
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"negations":</span> {`{`}</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"standard":</span> -10,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"slash":</span> -10,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"strike":</span> 0,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"pierce":</span> -10,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"magic":</span> 80,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"fire":</span> 20,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"lightning":</span> 20,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"holy":</span> 20</p>
      <p class="ml-[40px]">{`},`}</p>
  
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"resistances":</span> {`{`}</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"poison":</span> "326 / 424 / 714 / 1171",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"scarletRot":</span> "326 / 424 / 714 / 1171",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"hemorrhage":</span> "326 / 424 / 714 / 1171",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"frostbite":</span> "326 / 424 / 714 / 1171",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"sleep":</span> "Inmune",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"madness":</span> "Inmune",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"deathBlight":</span> "Inmune"</p>
      <p class="ml-[40px]">{`}`}</p>
      <p class="ml-[30px]">{`}`}</p>
      <p class="ml-[20px]">{`},`}</p>
    </div>
    
    <div class="flex flex-col">
      <p class="ml-[20px]">{`{`}</p>
      <p class="ml-[30px]"><span class="font-bold text-[#AB966F]">"phase":</span> 2,</p>
      <p class="ml-[30px]"><span class="font-bold text-[#AB966F]">"stats":</span> {`{`}</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"health":</span> 4097,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"defense":</span> 109,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"stance":</span> 80,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"parryable":</span> false,</p>
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"damage":</span> "Mágico",</p>
  
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"negations":</span> {`{`}</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"standard":</span> -10,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"slash":</span> -10,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"strike":</span> 0,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"pierce":</span> -10,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"magic":</span> 80,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"fire":</span> 20,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"lightning":</span> 20,</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"holy":</span> 20</p>
      <p class="ml-[40px]">{`},`}</p>
  
      <p class="ml-[40px]"><span class="font-bold text-[#AB966F]">"resistances":</span> {`{`}</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"poison":</span> "534 / 824 / 1281",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"scarletRot":</span> "534 / 824 / 1281",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"hemorrhage":</span> "326 / 424 / 714 / 1171",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"frostbite":</span> "534 / 824 / 1281",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"sleep":</span> "Inmune",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"madness":</span> "Inmune",</p>
      <p class="ml-[50px]"><span class="font-bold text-[#AB966F]">"deathBlight":</span> "Inmune"</p>
      <p class="ml-[40px]">{`}`}</p>
      <p class="ml-[30px]">{`}`}</p>
      <p class="ml-[20px]">{`}`}</p> 
  
      <p class="ml-[10px]">]</p>
      <p>{`}`}</p>
    </div>
  </div>
</div>
