---

---
<section id="main-section" class="w-full h-[2300px] p-[100px] flex flex-col gap-[40px] items-center transition-all duration-500 ease-out">
  <div class="w-fulf bg-[#AB966F] bg-opacity-20 flex flex-col justify-center p-[20px]">
    <header class="flex justify-center pb-[20px]">
      <h1 class="text-white font-bold text-[35px]">FromSoftware</h1>
    </header>
    <article class="flex flex-col w-full text-white gap-[40px]">
      <p>
        FromSoftware es una empresa encargada de desarrollar videojuegos que fue fundamental hace años con su presentación de una saga de videojuegos llamada <span>Dark Souls</span>,
        con un estilo de combate único entre los demas. Consiste en controlar un personaje que puede atacar con un arma cuerpo a cuerpo, esquivar, curar y bloquear ataques en caso
        de tener escudo. El personaje cuenta con estadisticas principales que se ven visualmente como barras:
      </p>
      <div class="w-full flex justify-center gap-[40px]">
        <img class="w-[700px]" src="hms.webp" alt="">
        <ul class="h-full flex flex-col justify-center gap-[40px]">
          <li>
            <h2 class="text-white font-bold text-[20px]">Vida</h2>
            <p>Justamente, estadistica que define la vida.</p>
          </li>
          <li>
            <h2 class="text-white font-bold text-[20px]">Mana</h2>
            <p>Aparte de las armas cuerpo a cuerpo, se pueden invocar magias, lo cual consume esta estadistica.</p>
          </li>
          <li>
            <h2 class="text-white font-bold text-[20px]">Estamina</h2>
            <p>Valor que determina el limite de movimientos, dentro de él se pueden incluir: ataques, bloqueos, correr y esquivar.</p>
          </li>
        </ul>
      </div>
      <p>Realmente <span>Demon's Souls</span> fue la primera propuesta en donde se presentaba este estilo de juegos, pero Dark Souls fue el que impulso a ser mainstream y a
      catalogar a este tipo de juegos como <span>Soulslike</span>. <br>
      Básicamente es un subgénero de los videojuegos de rol de acción	y aventura caracterizado por su gran nivel de dificultad y su narrativa indirecta.
      Los mundos expresan un aura de oscuridad medieval y fantasía, en donde la historia se representa exclusivamente en descripciones de objetos, dialogos con NPC's y entornos. 
      Las almas son "puntos" que se ganan matando enemigos, lo que nos permite subir de niveles y/o mejorar armas. Cuando el personaje muere, vuelve a aparecer en el mundo mediante
      <span>hogeras</span> (puntos de control) y los puntos se encontraran en donde el personaje murio. Si se vuelve a morir sin poder recuperar esas almas, las perdera para siempre como
      castigo.<br><br>
      Su aspecto más importante en la jugabilidad son los enfrentamientos de jugador contra jefe. En donde los jefes lucen ser potencialmente más fuertes que los enemigos normales y 
      el propio jugador, contando con patrones de ataques únicos. De allí es donde se lo cataloga como un juego dificil ya que la estrategia consiste en aprender los patrones de ataques
      y sus espacios de tiempo para poder atacarlo. La constancia y disciplina son la clave para avanzar en el juego, factor fundamental que la comunidad aprecia.
    </p>
    </article>
  </div>
  <div class="w-full bg-[#AB966F] bg-opacity-20 flex flex-col justify-center p-[20px]">
    <header class="flex justify-center pb-[20px]">
      <h1 class="text-white font-bold text-[35px]">Elden Ring</h1>
    </header>
    <article class="flex flex-col w-full text-white gap-[40px]">
      <p>
        Elden Ring fue lanzado el 25 de febrero del 2022 y se destaca, a comparación de las anteriores entregas, por su mundo abierto muy grande y con una gran variedad de 
        armas, enemigos, jefes y entornos. Sin duda es el Soulslike con más contenido hecho hasta la fecha y se caracteriza por su impecable apartado artístico.
      </p>
      <div class="w-full flex justify-center gap-[40px]">
        <img class="w-[800px]" src="tierras-intermedias.webp" alt="">
        <article>
          
          <ul class="h-full flex flex-col justify-between">
            <li>
              <h2 class="text-white font-bold text-[20px] pb-[10px]">Elden Ring API</h2>
              <p>Esta API, hecha con fines didacticos, se va a encargar de devolver información relacionada a <span>Jefes Legendarios</span>, cuya importancia en la historia de las Tierras
                Intermedias es fundamental. Estos estan calificados en distintos niveles:</p>
            </li>
            <li class="h-full">
              <div class="w-full h-full flex flex-col justify-center gap-[40px]">
                <div>
                  <h3 class="text-white font-bold text-[17px]">Nivel C</h3>
                  <p>Jefes que no cuentan con fases, ni cambios en sus estadisticas de principio a fin.</p>
                </div>
                <div>
                  <h3 class="text-white font-bold text-[17px]">Nivel B</h3>
                  <p>Jefes que tienen 2 fases, cambian su estilo de combate pero no sus estadisticas.</p>
                </div>
                <div>
                  <h3 class="text-white font-bold text-[17px]">Nivel A</h3>
                  <p>Jefes que tienen 2 fases y cambian tanto su estilo de combate como sus estadisticas radicalmente.</p>
                </div>
                <div>
                  <h3 class="text-white font-bold text-[17px]">Nivel S</h3>
                  <p>Jefes que tienen 3 fases distintas.</p>
                </div>
              </div>
            </li>
          </ul>
        </article>
      </div>
    </article>
  </div>
</section>