<section class="max-w-full bg-[#AB966F] bg-opacity-20 border-b-[1px] border-t-[1px] border-[#91805E] flex flex-col justify-center p-[20px] pb-[30px]">
  <header class="flex justify-center pb-[20px]">
    <h1 class="text-[#91805E] font-bold text-[35px]
    firstq:text-[33px] secondq:text-[31px]">Elden Ring</h1>
  </header>
  <article class="flex flex-col w-full text-white gap-[40px]
  firstq:gap-[20px]">
    <p class="firstq:text-[15px] secondq:text-[14px]">
      Elden Ring fue lanzado el 25 de febrero del 2022 y se destaca, a comparación de las anteriores entregas, por su mundo abierto muy grande y con una gran variedad de 
      armas, enemigos, jefes y entornos. Sin duda es el Soulslike con más contenido hecho hasta la fecha y se caracteriza por su impecable apartado artístico.
    </p>
    <div class="w-full flex justify-center gap-[40px]
    secondq:gap-[20px] secondq:flex-col-reverse">
      <img title="Necrolimbo de las Tierras intermedias" class="w-[800px] border-[1px] border-[#AB966F]
      firstq:w-[700px] secondq:w-full" src="tierras-intermedias.webp" alt="">
      <article>
        <ul class="h-full flex flex-col justify-between">
          <li class="mb-[20px]">
            <h2 class="text-[#AB966F] font-bold text-[20px]
            firstq:text-[19px] secondq:text-[18px]">Elden Ring API</h2>
            <p class="firstq:text-[15px] secondq:text-[14px]">Esta API, hecha con fines didacticos, se va a encargar de devolver información relacionada a <a id="jefesLegendariosAnchor" href="/glossary" class="text-[#AB966F] hover:underline anchor-glossary">Jefes Legendarios</a>, cuya importancia en la historia de las Tierras
              Intermedias es fundamental. Estos estan calificados en distintos niveles:</p>
          </li>
          <li class="h-full">
            <div class="w-full h-full flex flex-col justify-center gap-[20px]">
              <div class="bg-[#AB966F] bg-opacity-20 p-[8px] rounded-md
              mobile:flex mobile:flex-col mobile:text-center">
                <h3 class="text-[#AB966F] font-bold text-[17px] w-[60px] border-b-[1px] border-[#AB966F]
                firstq:text-[16px] secondq:text-[15px] mobile:w-full mobile:mb-[4px]">Nivel C</h3>
                <p class="firstq:text-[14px] secondq:text-[13px]">Jefes que no cuentan con fases ni cambios en sus estadisticas de principio a fin.</p>
              </div>
              <div class="bg-[#AB966F] bg-opacity-20 p-[8px] rounded-md
              mobile:flex mobile:flex-col mobile:text-center">
                <h3 class="text-[#AB966F] font-bold text-[17px] w-[60px] border-b-[1px] border-[#AB966F]
                firstq:text-[16px] secondq:text-[15px] mobile:w-full mobile:mb-[4px]">Nivel B</h3>
                <p class="firstq:text-[14px] secondq:text-[13px]">Jefes que tienen 2 fases, cambian su estilo de combate pero no sus estadisticas.</p>
              </div>
              <div class="bg-[#AB966F] bg-opacity-20 p-[8px] rounded-md
              mobile:flex mobile:flex-col mobile:text-center">
                <h3 class="text-[#AB966F] font-bold text-[17px] w-[60px] border-b-[1px] border-[#AB966F]
                firstq:text-[16px] secondq:text-[15px] mobile:w-full mobile:mb-[4px]">Nivel A</h3>
                <p class="firstq:text-[14px] secondq:text-[13px]">Jefes que tienen 2 fases y cambian tanto su estilo de combate como sus estadisticas radicalmente.</p>
              </div>
              <div class="bg-[#AB966F] bg-opacity-20 p-[8px] rounded-md
              mobile:flex mobile:flex-col mobile:text-center">
                <h3 class="text-[#AB966F] font-bold text-[17px] w-[60px] border-b-[1px] border-[#AB966F]
                firstq:text-[16px] secondq:text-[15px] mobile:w-full mobile:mb-[4px]">Nivel S</h3>
                <p class="firstq:text-[14px] secondq:text-[13px]">Jefes que tienen 3 fases distintas.</p>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </div>
  </article>
</section>