---

---

<div class="w-[250px] bg-black bg-opacity-50 flex flex-col p-[10px]">
  <p>{`...},`}</p>
  <p class="ml-[10px]">{` {`}</p>
  <p class="ml-[20px]">{`   "id": number,`}</p>
  <p class="ml-[20px]">{`   "tier": string,`}</p>
  <p class="ml-[20px]">{`   "name": string,`}</p>
  <p class="ml-[20px]">{`   "image": string,`}</p>
  <p class="ml-[20px]">{`   "difficulty": number,`}</p>
  <p class="ml-[20px]">{`   "dropRunes": number,`}</p>
  <p class="ml-[10px]">{` },`}</p>
  <p>{` {...`}</p>
</div>