<div class="w-[180px] bg-black bg-opacity-50 rounded-md p-[10px]">
  <div>
    <p><span class="font-bold">"phases":</span>[</p>
    <p class="ml-[10px]">{`{`}</p>
    <p class="ml-[20px]"><span class="font-bold">"phase":</span> number,</p>
    <p class="ml-[20px]">Basic Stats...</p>
    <p class="ml-[10px]">{`},`}</p>
    <p class="ml-[10px]">{`{`}</p>
    <p class="ml-[20px]"><span class="font-bold">"phase":</span> number,</p>
    <p class="ml-[20px]">Basic Stats...</p>
    <p class="ml-[10px]">{`},`}</p>
    <p>]</p>
  </div>
  <div>

  </div>
</div>