<div class="w-[580px] bg-black bg-opacity-50 flex justify-center gap-[30px] rounded-md p-[10px]">
  <div>
    <p><span class="font-bold">"stats":</span> {`{`}</p>
    <p class="ml-[10px]"><span class="font-bold">"health":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"defense":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"stance":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"parryable":</span> boolean,</p>
    <p class="ml-[10px]"><span class="font-bold">"damage":</span> [</p>
    <p class="ml-[20px]">strings...</p>
    <p class="ml-[10px]">]</p>
    <p>{`},`}</p>
  </div>
  <div>
    <p><span class="font-bold">"negations":</span> {`{`}</p>
    <p class="ml-[10px]"><span class="font-bold">"standard":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"slash":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"strike":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"pierce":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"magic":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"fire":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"lightning":</span> number,</p>
    <p class="ml-[10px]"><span class="font-bold">"holy":</span> number</p>
    <p>{`},`}</p>
  </div>
  <div>
    <p><span class="font-bold">"resistances":</span> {`{`}</p>
    <p class="ml-[10px]"><span class="font-bold">"poison":</span> string,</p>
    <p class="ml-[10px]"><span class="font-bold">"scarletRot":</span> string,</p>
    <p class="ml-[10px]"><span class="font-bold">"hemorrhage":</span> string,</p>
    <p class="ml-[10px]"><span class="font-bold">"frostbite":</span> string,</p>
    <p class="ml-[10px]"><span class="font-bold">"sleep":</span> string,</p>
    <p class="ml-[10px]"><span class="font-bold">"madness":</span> string,</p>
    <p class="ml-[10px]"><span class="font-bold">"deathBlight":</span> string,</p>
    <p>{`}`}</p>
  </div>
  
</div>