---
import JsonCard from './JsonCard.astro'
---

<section class="w-full bg-[#AB966F] bg-opacity-20 border-b-[1px] border-t-[1px] border-[#91805E] flex flex-col justify-center p-[20px] pb-[30px]">
  <header class="flex justify-center pb-[20px]">
    <h1 class="text-[#91805E] font-bold text-[35px]">Endpoint</h1>
  </header>
  <article class="flex flex-col w-full text-white gap-[40px]">
    <p>
      La API se puede acceder al link <span class="bg-black bg-opacity-50 p-[5px] rounded-md italic mx-[2px]">http://localhost:1234</span> 
      y su endpoint es <span class="bg-black bg-opacity-50 p-[5px] rounded-md italic mx-[2px]">/bosses</span>. Tambien se puede acceder mediante el id con
      <span class="bg-black bg-opacity-50 p-[5px] rounded-md italic mx-[2px]" >/bosses/:id</span> donde el id alcanza un rango de 0 a 14.
      Cada jefe es un objeto que devuelve distinta información dependiendo del tier que le corresponda. Para empezar, los datos que tienen en comun
      entre ellos son los siguientes:
    </p>
    <JsonCard />
  </article>
</section>