---
import BasicDataCard from './BasicDataCard.astro'
import StatsCard from './StatsCard.astro'
import PhaseCard from './PhaseCard.astro'
import type { Code, Debug } from 'astro:components'
---

<section class="w-full bg-[#AB966F] bg-opacity-20 border-b-[1px] border-t-[1px] border-[#91805E] flex flex-col justify-center p-[20px] pb-[30px]">
  <header class="flex justify-center pb-[20px]">
    <h1 class="text-[#91805E] font-bold text-[35px]">Endpoint</h1>
  </header>
  <article class="flex flex-col w-full text-white gap-[40px]">
    <p>
      La API se puede acceder a la url <span class="bg-black bg-opacity-50 p-[5px] rounded-md italic mx-[2px] text-[#AB966F]">http://localhost:1234</span> 
      y su endpoint es <span class="bg-black bg-opacity-50 p-[5px] rounded-md italic mx-[2px] text-[#AB966F]">/bosses</span>. Tambien se puede acceder mediante el id con
      <span class="bg-black bg-opacity-50 p-[5px] rounded-md italic mx-[2px] text-[#AB966F]" >/bosses/:id</span> donde el id alcanza un rango de 0 a 14.
      Cada jefe es un objeto que devuelve distintos datos dependiendo del tier que le corresponda. Para empezar, los datos que tienen en común
      entre ellos son los siguientes:
    </p>
    <div class="w-full flex justify-center items-center gap-[20px]">
      <BasicDataCard />
      <div class="max-w-[160px] flex flex-col gap-[5px]">
        <h2 class="text-[#AB966F] font-bold text-[20px]">Aclaracion:</h2>
        <p>
          "difficulty" es un valor que califica la dificultad del jefe del 1 al 10 y "dropRunes" es la cantidad de runas que gana el jugador al derrotarlo.
        </p>
      </div>
    </div>
    <p>
      Los jefes del tier <span class="font-bold text-[#AB966F]">S, B y C</span> comprenden la misma estructura de datos ya que sus estadisticas no son modificadas aún contando con sus otras fases. Pero
      los jefes de tier <span class="font-bold text-[#AB966F]">A</span> si tienen una estructura aparte por su modificacion de estadisticas en ambas fases. Las estadisticas en todos los jefes consiste en
      <span class="font-bold text-[#AB966F]">Estadisticas base, Negaciones de daño y Resistencias de estado</span>:
    </p>
    <div class="w-full flex justify-center items-center gap-[20px]">
      <StatsCard />
      <PhaseCard />
      <div class="max-w-[200px]">
        <p>Para los jefes de tier <span class="font-bold text-[#AB966F]">A</span>, contienen las mismas estadisticas pero englobadas en un vector que indica la diferencia entre fases.</p>
      </div>
    </div>
    <div class="bg-[#AB966F] bg-opacity-20 p-[10px]">
      <p><span class="font-bold text-[#AB966F]">* "Stance"</span> es una estadistica oculta solamente en enemigos, indica que tanto el enemigo resiste bajo ataques del jugador. Si recibe muchos golpes, se rompera su "postura" y se podra hacer un <span class="font-bold text-[#AB966F]">* <span class="underline">ataque potenciado</span></span>.</p>
      <p><span class="font-bold text-[#AB966F]">* "Parryable"</span> esta relacinado a "parry", mecanica que consiste en bloquear un golpe enemigo justo antes de ser golpeado. Si es efectivo, se podra hacer un <span class="font-bold text-[#AB966F]">* <span class="underline">ataque potenciado</span></span></span>.</p>
      <p><span class="font-bold text-[#AB966F]">* "Nagations"</span> contiene numeros que representan porcentajes que el jefe bloquea según los tipos de ataques del jugador. Por ejemplo, si la negación es de 60, 40% de ese daño se realizará y el 60% será negado. Valores negativos implican mayor daño y 0 continúa prácticamente como está.</p>
      <p><span class="font-bold text-[#AB966F]">* "Resistances"</span> indican la cantidad acumulada de ciertos estados. Si una resistencia es de 100, se debe acumular 100 puntos para activar su estado. Estos disminuyen con el paso del tiempo y aumentan su nivel de acumulación cada vez producido. Los valores luego de "/" indican el aumento de resistencias luego de cada proceso sucesivo.</p>
      <p><span class="font-bold text-[#AB966F]">* Ataque potenciado</span> Es un ataque especial que se puede realizar al hacer un parry o romper una postura enemiga causando un ataque crítico.</p>
    </div>
  </article>
</section>